<app-navigation></app-navigation>
<div class="col-md-12 ticket-container">
  <div class="col-md-12">
    <button class="btn btn-success" style="width:100px" (click)="add()"><i class="fa fa-plus-square"></i></button>
  </div>
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <td scope="col">Id</td>
          <td scope="col">Título</td>
          <td scope="col">Descripción</td>
          <td scope="col">Status</td>
          <td scope="col">Creación</td>
          <td scope="col">Acciones</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of tickets">
          <th scope="row">{{ ticket.id }}</th>
          <td>{{ ticket.title }}</td>
          <td>{{ ticket.description }}</td>
          <td>{{ TicketStatusEnum[ticket.status] }}</td>
          <td>{{ ticket.created_at | date: 'medium' }}</td>
          <td scope="col">
            <button (click)="edit(ticket)" class="btn btn-success ml-1 mb-1"><i class="fa fa-pencil"></i></button>
            <button (click)="delete(ticket)" class="btn btn-danger ml-1"><i class="fa fa-remove"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
