<app-navigation></app-navigation>
<div class="container">
  <table class="table table-hover">
    <tr>
      <td>Id</td>
      <td>Título</td>
      <td>Descripción</td>
      <td>Fecha de Creación</td>
      <td colspan="2">Actions</td>
    </tr>
    <tr *ngFor="let ticket of tickets">
      <td>{{ ticket.id }}</td>
      <td>{{ ticket.title }}</td>
      <td>{{ ticket.description }}</td>
      <td>{{ ticket.createdAt }}</td>
      <td><a [routerLink]="['edit', ticket.id]" class="btn btn-primary">Edit</a></td>
      <td><a (click) = "delete(ticket.id)" class="btn btn-danger">Delete</a></td>
    </tr>
  </table>
</div>
