<div class="container">
  <div class="d-flex justify-content-center h-100">
    <form class="card" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="card-header">
        <h3>Login</h3>
      </div>
      <div class="card-body">
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-user"></i>
            </span>
          </div>
          <input type="text" class="form-control" formControlName="username" id="username" placeholder="usuario" autocomplete="off">
          <div class="error" *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched">Se requiere usuario</div>
        </div>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-lock"></i>
            </span>
          </div>
          <input type="password" class="form-control" formControlName="password" id="password" placeholder="contraseña" autocomplete="off">
          <div class="error" *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">Se requiere contraseña</div>
        </div>
        <button class="btn btn-success" [disabled]="loginForm.invalid">Login</button>
      </div>
      <div class="card-footer">
        <div *ngIf="invalidLogin" class="form-group has-error has-feedback">
          <span class="error">Credenciales Inválidas.</span>
        </div>
      </div>
    </form>
  </div>
</div>
